# Dependencies
node_modules/

# Production builds
dist/
build/
.turbo/

# Databases & local stores
*.db
*.db-journal
*.db-shm
*.db-wal
dev.db

# Environmental variables
.env
.env.local
.env.*.local

# OS Files
.DS_Store
Thumbs.db
